<div class="banner home-section" href="#home-section">
  <h1 class="banner-header"></h1>
</div>

<div class="profile-info hidden">
  <div class="profile-text">
    <p>JESS PATES</p>
    <p>FULLSTACK DEVELOPER</p>
  </div>
  <div class="profile-img">
    <%= image_tag('bitmoji1.png', class: "profile-photo") %>
  </div>
</div>

<div class="project-section hidden" href="#project-section">
  <h1 class="section-header project-header">projects (🛠)</h1>

  <div class="project-container">

    <a class="prev arrow-btn"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="next arrow-btn"><i class="fa-solid fa-arrow-right"></i></a>

    <div class="projects">

      <div class="project land-project">

        <div class="project-details">
          <a href="https://gameon-ur5o.onrender.com/", target="_blank"><h2 class="project-name">GameOn</h2></a>

          <p class="project-desc">Arcade style games site</p>

          <h5 class="project-langs">Languages</h5>
            <p>JavaScript | Ruby on Rails | HTML | CSS</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://gameon-ur5o.onrender.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/gameon", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="gameon-photos-container project-photo-container land-project-photo-container">
          <div class="gameon-photos photos-container">
            <%= image_tag('gameon7.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon2.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon8.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon3.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon1.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon4.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon5.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon6.png', class: "gameon-photo land-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project port-project">

        <div class="project-details">
          <a href="https://www.fan-find.com", target="_blank"><h2 class="project-name">FanFind</h2></a>

          <p class="project-desc">Mobile first web application that helps sports fans find the right people and the right place to watch the games of their team.</p>
          <p class="project-desc">Features include AJAX searching, filtering, chatroom, mapbox.</p>
          <p class="project-desc">Group project completed as culmination of Le Wagon bootcamp.</p>

          <h5 class="project-langs">Languages</h5>
            <p>Ruby on Rails | JavaScript | Stimulus | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://www.fan-find.com", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/WillMolas/FanFind", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="fanfind-photos-container project-photo-container port-project-photo-container">
          <div class="fanfind-photos photos-container">
            <%= image_tag('fanfind1.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind2.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind3.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind4.png', class: "fanfind-photo port-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project land-project">

        <div class="project-details">
          <a href="https://shart-jpates2.herokuapp.com/", target="_blank"><h2 class="project-name">shArt</h2></a>

          <p class = "project-desc">Art sharing website.</p>

          <h5 class="project-langs">Languages</h5>
            <p>Ruby on Rails | JavaScript | Stimulus | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://shart-jpates2.herokuapp.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/WillMolas/shART", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="shart-photos-container project-photo-container land-project-photo-container">
          <div class="shart-photos photos-container">
            <%= image_tag('shart1.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart2.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart3.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart4.png', class: "shart-photo land-project-photo") %>
            <%# <%= image_tag('shart5.png', class: "shart-photo land-project-photo") %>
            <%# <%= image_tag('shart6.png', class: "shart-photo land-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project land-project">

        <div class="project-details">
          <a href="https://watchlist-bcn1046.herokuapp.com/", target="_blank"><h2 class="project-name">The Watchlist</h2></a>

          <p class="project-desc">Share films</p>

          <h5 class="project-langs">Languages</h5>
            <p>Ruby on Rails | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://watchlist-bcn1046.herokuapp.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/rails-watch-list", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="land-project-photo-container">
          <%= image_tag('watchlist1.png', class: "land-project-photo") %>
        </div>

      </div>


      <div class="project land-project">

        <div class="project-details">
          <a href="www.jesspates.com", target="_blank"><h2 class="project-name">Profile v1.0</h2></a>

          <p class="project-desc">First draft</p>

          <h5 class="project-langs">Languages</h5>
            <p>Ruby on Rails | HTML | CSS</p>

          <ul class="project-links">
            <li>
              <%= link_to "www.jesspates.com", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/myprofile", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="land-project-photo-container">
          <%= image_tag('profile1.png', class: "land-project-photo") %>
        </div>

      </div>


    </div>

  </div>

  <div class="project-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>


</div>

<div class="about-section hidden" href="#about-section">
  <h1 class="section-header about-header">about</h1>
</div>

<div class="contact-section hidden" href="#contact-section">
  <h1 class="section-header contact-header">contact</h1>
</div>
