<div class="banner home-section" href="#home-section">
  <h1 class="banner-header"></h1>
</div>

<div class="profile-info hidden">
  <div class="profile-text">
    <p>JESS PATES</p>
    <p>FULLSTACK DEVELOPER</p>
  </div>
  <div class="profile-img">
    <%= image_tag('bitmoji1.png', class: "profile-photo") %>
  </div>
</div>

<div class="project-section hidden" href="#project-section">
  <h1 class="section-header" id="project-header">projects</h1>

  <div class="project-container reveal-section section-hidden">

    <div class="projects">

      <div class="project land-project project-1 project-active">

        <div class="project-details">
          <a href="https://gameon-ur5o.onrender.com/", target="_blank"><h2 class="project-name">GameOn</h2></a>

          <p class="project-desc">Arcade style site with a variety of JavaScript powered games.</p>
          <p class="project-desc">Focuses on JS essentials such as functions, variables, selectors, array methods, basic operators, logical operators, setting CSS styles, conditionals, loops and timers.</p>

          <h5 class="project-langs">Languages</h5>
            <p class="langs">JavaScript | Ruby on Rails | HTML | CSS</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://gameon-ur5o.onrender.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/gameon", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="gameon-photos-container project-photo-container land-project-photo-container">
          <div class="gameon-photos photos-container">
            <%= image_tag('gameon7.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon2.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon8.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon3.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon1.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon4.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon5.png', class: "gameon-photo land-project-photo") %>
            <%= image_tag('gameon6.png', class: "gameon-photo land-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project project-2 port-project">

        <div class="port-project-details project-details">
          <a href="https://www.fan-find.com", target="_blank"><h2 class="project-name">FanFind</h2></a>

          <p class="project-desc">Mobile first web app that helps sports fans find the right people and the right place to watch the games of their team.</p>
          <p class="project-desc">Features include AJAX searching, filtering, chatroom, mapbox.</p>
          <p class="project-desc">Group project completed as culmination of Le Wagon bootcamp.</p>

          <h5 class="project-langs">Languages</h5>
            <p class="langs">Ruby on Rails | JavaScript | Stimulus | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://www.fan-find.com", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/WillMolas/FanFind", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="fanfind-photos-container project-photo-container port-project-photo-container">
          <div class="fanfind-photos photos-container">
            <%= image_tag('fanfind1.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind2.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind3.png', class: "fanfind-photo port-project-photo") %>
            <%= image_tag('fanfind4.png', class: "fanfind-photo port-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project project-3 land-project">

        <div class="project-details">
          <a href="https://shart-jpates2.herokuapp.com/", target="_blank"><h2 class="project-name">shArt</h2></a>

          <p class = "project-desc">Marketplace bringing together those with artwork to rent and those looking to rent artwork for events, occasions, public spaces. Rails MVC structure with create / view / edit / delete functions.</p>
          <p class="project-desc">Group project at Le Wagon bootcamp.</p>

          <h5 class="project-langs">Languages</h5>
            <p class="langs">Ruby on Rails | JavaScript | Stimulus | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://shart-jpates2.herokuapp.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/WillMolas/shART", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="shart-photos-container project-photo-container land-project-photo-container">
          <div class="shart-photos photos-container">
            <%= image_tag('shart1.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart2.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart3.png', class: "shart-photo land-project-photo") %>
            <%= image_tag('shart4.png', class: "shart-photo land-project-photo") %>
            <%# <%= image_tag('shart5.png', class: "shart-photo land-project-photo") %>
            <%# <%= image_tag('shart6.png', class: "shart-photo land-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project project-4 land-project">

        <div class="project-details">
          <a href="https://watchlist-bcn1046.herokuapp.com/", target="_blank"><h2 class="project-name">The Watchlist</h2></a>

          <p class="project-desc">Site for organising movies into lists based on genre. Users can browse lists, create a new list and add a movie to any list.</p>
          <p class="project-desc">Rails MVC structure with create / view / edit / delete functions.</p>
          <p class="project-desc">Individual project at Le Wagon.</p>

          <h5 class="project-langs">Languages</h5>
            <p class="langs">Ruby on Rails | HTML | CSS | SQL</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://watchlist-bcn1046.herokuapp.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/rails-watch-list", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="watch-photos-container project-photo-container land-project-photo-container">
          <div class="watch-photos photos-container">
            <%= image_tag('watchlist1.png', class: "watch-photo land-project-photo") %>
            <%= image_tag('watchlist2.png', class: "watch-photo land-project-photo") %>
            <%= image_tag('watchlist3.png', class: "watch-photo land-project-photo") %>
            <%= image_tag('watchlist4.png', class: "watch-photo land-project-photo") %>
          </div>
        </div>

      </div>


      <div class="project project-5 land-project">

        <div class="project-details">
          <a href="https://myprofile-jpates2.herokuapp.com/", target="_blank"><h2 class="project-name">Profile v1.0</h2></a>

          <p class="project-desc">First draft of profile to showcase projects, now being improved upon with current site.</p>
          <p class="project-desc">Features include snap scrolling, modal windows and collapsible sections.</p>

          <h5 class="project-langs">Languages</h5>
            <p class="langs">Ruby on Rails | JavaScript | HTML | CSS</p>

          <ul class="project-links">
            <li>
              <%= link_to "https://myprofile-jpates2.herokuapp.com/", target: "_blank" do %>
                <i class="fa-solid fa-link project-link"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/jpates2/myprofile", target: "_blank" do %>
                <i class="fa-brands fa-square-github project-link"></i>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="prof-photos-container project-photo-container land-project-photo-container">
          <div class="prof-photos photos-container">
          <%= image_tag('profile1.png', class: "prof-photo land-project-photo") %>
          <%= image_tag('profile2.png', class: "prof-photo land-project-photo") %>
          <%= image_tag('profile3.png', class: "prof-photo land-project-photo") %>
          <%= image_tag('profile4.png', class: "prof-photo land-project-photo") %>
          <%= image_tag('profile5.png', class: "prof-photo land-project-photo") %>
          </div>
        </div>

      </div>


    </div>

    <a class="prev arrow-btn"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="next arrow-btn"><i class="fa-solid fa-arrow-right"></i></a>

  </div>

<!--
  <div class="project-dots">
    <button class="dot dot-1 dot-active" data-tab="1"><span></span></button>
    <button class="dot dot-2" data-tab="2"><span></span></button>
    <button class="dot dot-3" data-tab="3"><span></span></button>
    <button class="dot dot-4" data-tab="4"><span></span></button>
    <button class="dot dot-5" data-tab="5"><span></span></button>
  </div>
-->

</div>

<div class="about-section section hidden" href="#about-section">
  <h1 class="section-header" id="about-header">about</h1>
  <div class="about-bubbles about-bubbles-top">

    <div>
      <div class="about-bubble bubble-grey bubble-one">
        <h3 class="bubble-header">about me</h3>
      </div>
      <div>
        <div class="one-window hidden modal-window">
          <i class="fa-solid fa-xmark close-one close-button"></i>
          <h4 class="modal-header">about me</h4>
          <div class="about-description">
            <p>Hi! I'm Jess and I'm searching for my first Web Development / Software Engineering role.</p>
            <p>I'm Manchester born and raised, a long time London resident and have recently returned to the UK after nine months living in Barcelona.</p>
            <p>I moved to Barcelona to complete Le Wagon's Web Development Bootcamp, and stayed to spend several months learning Spanish as well as appreciate everything Barcelona has to offer.</p>
            <p>I decided to embark on a change career as I’d like to feel greater passion towards my job. My mindset is that I shouldn’t settle when it comes to something so fundamentally important. I have a desire to continually learn so I'm excited for all that is ahead of me in this new field.</p>
          </div>
        </div>
        <div class="overlay-one overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="about-bubble bubble-orange bubble-two">
        <h3 class="bubble-header">experience</h3>
      </div>
      <div>
        <div class="two-window hidden modal-window">
          <i class="fa-solid fa-xmark close-two close-button"></i>
          <h4 class="modal-header">experience</h4>
          <div class="about-description">
            <p>I have ten years experience working in Financial Services Operations for a number of banks and hedge funds.</p>
            <p>I'm used to working in fast paced environments and managing multiple deadlines. I'm also comfortable working in roles that require high attention to detail and no margin for error. </p>
            <p>I particularly enjoyed working for smaller companies where I had greater autonomy and could take the iniative to solve problems, and I'd ideally be looking for a similar environment for any new role.</p>
          </div>
        </div>
        <div class="overlay-two overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="about-bubble bubble-grey bubble-three">
        <h3 class="bubble-header">bootcamp</h3>
      </div>
      <div>
        <div class="three-window hidden modal-window">
          <i class="fa-solid fa-xmark close-three close-button"></i>
          <h4 class="modal-header">bootcamp</h4>
          <div class="about-description">
            <p>The Web Development Bootcamp I completed focused on Ruby on Rails, JavaScript, SQL, HTML and CSS. Prior to this I had minimal knowledge in the area so have already shown I can absorb large amounts of information quickly and put it into practice.</p>
            <p>Each day we had a lecture before completing a number of challenges with a buddy. The bootcamp then culminated in two group projects in which we collectively produced Ruby on Rails sites before presenting them to the group.</p>
          </div>
        </div>
        <div class="overlay-three overlay hidden"></div>
      </div>
    </div>

  </div>

  <div class="about-bubbles about-bubbles-btm">

    <div>
      <div class="about-bubble bubble-orange bubble-four">
        <h3 class="bubble-header">learning</h3>
      </div>
      <div>
        <div class="four-window hidden modal-window">
          <i class="fa-solid fa-xmark close-four close-button"></i>
          <h4 class="modal-header">learning</h4>
          <div class="about-description">
            <p>It goes without saying that there's an enormous amount to learn. And there always will be.</p>
            <p>Since the Bootcamp my focus has been on expanding my JavaScript knowldge, both through following online tutorials and learning on-the-go with projects such as this. I've also spent some time learning TypeScript.</p>
            <p>Up next: React.</p>
          </div>
        </div>
        <div class="overlay-four overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="about-bubble bubble-grey bubble-five">
        <h3 class="bubble-header">hire me!</h3>
      </div>
      <div>
        <div class="five-window hidden modal-window">
          <i class="fa-solid fa-xmark close-five close-button"></i>
          <h4 class="modal-header">hire me!</h4>
          <div class="about-description">
            <p>I'm searching for a fullstack / frontend / backend position at intern / graduate / junior position.</p>
            <p>London based but flexible with working location / remote working.</p>
            <p>I'm open to any and all industries. My priority is finding a role and company in which I can continue to learn.</p>
            <p>My experience level is relatively low but I'm hard-working and learn quickly. I could offer a lot to a company that provides a positive learning environment and recognises future potential.</p>
          </div>
        </div>
        <div class="overlay-five overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="about-bubble bubble-orange bubble-six">
        <h3 class="bubble-header modal-header">cv</h3>
      </div>
      <div class="overlay-six overlay hidden"></div>
    </div>
    <%= image_tag('jess_pates_cv.jpg', class: "cv-img hidden") %>

  </div>
</div>


<div class="cert-section section hidden" href="#cert-section">
  <h1 class="section-header" id="cert-header">certificates</h1>

  <div class="certs">

    <div class="cert cert-left">
      <div class="cert-header">
        <p class="cert-name">web development bootcamp</p>
        <i class="fa-solid fa-caret-down cert-caret"></i>
      </div>
      <div class="cert-details">
        <p><b>Provider</b>&nbsp; Le Wagon</p>
        <p><b>Completed</b>&nbsp; Dec 2022</p>
        <p><b>Certificate</b>&nbsp; <i class="fa-solid fa-medal cert-badge"></i></p>
        <%= image_tag('le wagon.jpg', class: "cert-img hidden") %>
        <br>
        <h6>Featured:</h6>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Ruby</b>&nbsp; Conditionals, arrays, hashes, iterators, parsing.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>OOP</b>&nbsp; Classes, instances, inheritance, self.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>SQL</b>&nbsp; Schema design, active record, associations and validations.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Frontend</b>&nbsp; HTML, CSS, Bootstrap.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>JavaScript</b>&nbsp; DOM, events, AJAX, Stimulus.</p>
        <p class="cert-last"><i class="fa-regular fa-star"></i>&nbsp;<b>Ruby on Rails</b>&nbsp; Hosting, image upload, authentication, authorization, geocoding.</p>
      </div>
    </div>

    <div class="cert cert-right">
      <div class="cert-header">
        <p class="cert-name"><a href="https://www.udemy.com/course/the-complete-javascript-course/", target="_blank">the complete javascript course</a></p>
        <i class="fa-solid fa-caret-down cert-caret"></i>
      </div>
      <div class="cert-details">
        <p><b>Provider</b>&nbsp; Udemy</p>
        <p><b>Completed</b>&nbsp; Aug 2023</p>
        <p><b>Certificate</b>&nbsp; <i class="fa-solid fa-medal cert-badge"></i></p>
        <%= image_tag('javascript.jpg', class: "cert-img hidden") %>
        <br>
        <h6>Featured:</h6>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Fundamentals</b>&nbsp; Values, variables, operators, conditionals, functions, arrays, objects, loops.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>DOM</b>&nbsp; Selecting, manipulating, events, event propagation, traversing.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Behind the scenes</b>&nbsp; Scoping, hoisting, "this".</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Data structures</b>&nbsp; Destructuring, spread operators, short circuiting, sets, maps.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Functions</b>&nbsp; Higher-order, call, apply, bind, IIFE, closures.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Asynchronous</b>&nbsp; AJAX, fetch, promises, event loop, try/catch.</p>
        <p class="cert-last"><i class="fa-regular fa-star"></i>&nbsp;<b>OOP</b>&nbsp; Constructor functions, prototypes, getts, setters, encapsulation.</p>
      </div>
    </div>

    <div class="cert cert-left slide-hidden-left">
      <div class="cert-header">
        <p class="cert-name"><a href="https://www.udemy.com/course/learn-typescript/", target="_blank">mastering typescript</a></p>
        <i class="fa-solid fa-caret-down cert-caret"></i>
      </div>
      <div class="cert-details">
        <p><b>Provider</b>&nbsp; Udemy</p>
        <p><b>Completed</b>&nbsp; May 2023</p>
        <p><b>Certificate</b>&nbsp; <i class="fa-solid fa-medal cert-badge"></i></p>
        <%= image_tag('mastering typescript.jpg', class: "cert-img hidden") %>
         <br>
        <h6>Featured:</h6>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Annotation</b>&nbsp; Objects, arrays, any, union, literal, tuples, enums.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Functions</b>&nbsp; Default parameters, void, never.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Interfaces</b>&nbsp; Methods, reopening, extending.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Compiler</b>&nbsp; Watch, include, exclude, target, strict.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Classes</b>&nbsp; Public, private, getters, setters, protected.</p>
        <p class="cert-last"><i class="fa-regular fa-star"></i>&nbsp;<b>Narrowing</b>&nbsp; Typeof, truthiness, equality, instanceof.</p>
      </div>
    </div>

    <div class="cert cert-right slide-hidden-right">
      <div class="cert-header">
        <p class="cert-name"><a href="https://www.udemy.com/course/css-the-complete-guide-incl-flexbox-grid-sass/", target="_blank">css - the complete guide</a></p>
        <i class="fa-solid fa-caret-down cert-caret"></i>
      </div>
      <div class="cert-details">
        <p><b>Provider</b>&nbsp; Udemy</p>
        <p><b>Completed</b>&nbsp; Aug 2023</p>
        <p><b>Certificate</b>&nbsp; <i class="fa-solid fa-medal cert-badge"></i></p>
        <%= image_tag('mastering typescript.jpg', class: "cert-img hidden") %>
         <br>
        <h6>Featured:</h6>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Basics</b>&nbsp; Selectors, combinators, inheritance, pseudo classes, positioning.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Box Model</b>&nbsp; Padding, margin, sizing.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Responsive</b>&nbsp; Viewport, media queries, logical operators.</p>
        <p><i class="fa-regular fa-star"></i>&nbsp;<b>Display</b>&nbsp; Flexbox, grid, block, inline.</p>
        <p class="cert-last"><i class="fa-regular fa-star"></i>&nbsp;<b>Animations</b>&nbsp; Transitions, transforming, timing functions.</p>
      </div>
    </div>

    <div class="clearfix"></div>

  </div>

</div>

<div class="contact-section section hidden" href="#contact-section">
  <h1 class="section-header" id="contact-header">contact</h1>
  <div class="contact-bubble reveal-section section-hidden">
    <h2 class="contact-talk">let's talk</h2>
    <div class="contact-details">
        <a href="mailto:jesspates@hotmail.co.uk?"><p class="contact-info contact-link"><i class="fa-solid fa-envelope contact-awesome contact-email"></i>jesspates@hotmail.co.uk</p>
        <a href="https://www.linkedin.com/in/jess-pates/" target="_blank"><p class="contact-info contact-link"><i class="fa-brands fa-linkedin contact-awesome"></i>jess-pates</p></a>
        <a href="https://github.com/jpates2" target="_blank"><p class="contact-info contact-link contact-git"><i class="fa-brands fa-square-github contact-awesome"></i>jpates2</p></a>
    </div>
  </div>
</div>

<div class="backdrop hidden"></div>
