<!DOCTYPE html>
<html>
  <head>
    <title>Jess Pates - Fullstack Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@300;400;500&family=Heebo:wght@300;400;500&family=Kanit:wght@400;500;600;700;800&family=Libre+Baskerville&family=Libre+Franklin:wght@300;400;500&family=Martel&family=Montserrat:wght@400;500;600&family=Mulish:wght@400;500;600&family=Nunito:wght@400;600&family=Overpass:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;400;500;600&family=Quantico:wght@400;700&family=Quicksand:wght@400;500;600&family=Roboto+Mono:wght@400;500&family=Rubik:wght@400;500&family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@300;400;500&family=Kanit:wght@400;500;600;700;800&family=Libre+Baskerville&family=Libre+Franklin:wght@300;400;500&family=Martel&family=Montserrat:wght@400;500;600&family=Overpass:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;400;500;600&family=Quantico:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, async: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
